$titleColr: #333333;
@media screen and (max-width: 770px){

  .dataCview-item{
    float:left !important;
    display:block !important;
    width : 50% !important;
    padding:10px !important;
    background:#fff !important;
    border:1px solid #ffffff !important;
    .img{
      width: 80px;
      height: 50px;
    }
    .imgText{
      font:{
        size:1.5em !important;
        weight: 400  !important }
      text-align: center !important;
      color:$titleColr !important; }
  }
  .fbCatMenus{
    top: 0 !important;
  }
  .fbCatIcons{
    width: 43% !important;
    padding: 5px !important;
    margin:2px 5px !important;
    .fbIconImg{
      img{
        width: 100% !important;
      }
    }
  }

  //.fbContainer{ display:none !important }
}